﻿@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    /* Targeting h1 and p elements */
    h1, h2, h3, h4, h5, h6 {
        color: #28a745; /* Green */
    }

    p {
        color: black; /* Black */
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h2>Information Collected</h2>
<p>We collect various types of information when you visit our website, including personal information provided voluntarily by you and automatically collected information through cookies and similar technologies.</p>

<h3>Personal Information</h3>
<p>Personal information may include but is not limited to your name, email address, contact information, and any other information you choose to provide to us.</p>

<h3>Automatically Collected Information</h3>
<p>Automatically collected information may include your IP address, browser type, operating system, referring URLs, and other usage details.</p>

<h2>Use of Information</h2>
<p>We use the collected information for various purposes, including but not limited to:</p>
<ul>
    <li>Providing and maintaining our website</li>
    <li>Improving, personalizing, and tailoring user experience</li>
    <li>Responding to inquiries and providing support</li>
    <li>Sending periodic emails and newsletters</li>
    <li>Conducting analytics and research</li>
</ul>

<h2>Information Sharing</h2>
<p>We may share your information with third parties for various purposes, including but not limited to:</p>
<ul>
    <li>Service providers assisting with website operation</li>
    <li>Legal compliance, law enforcement, and protection of rights</li>
    <li>Marketing and advertising purposes</li>
</ul>

<h2>Cookie Policy</h2>
<p>We use cookies and similar technologies to collect and store certain information. By using our website, you consent to the use of cookies in accordance with our Privacy Policy.</p>

<h2>Data Security</h2>
<p>We implement appropriate security measures to protect against unauthorized access, alteration, disclosure, or destruction of your personal information.</p>

<h2>Changes to Privacy Policy</h2>
<p>We reserve the right to update our Privacy Policy at any time. We encourage you to review this page periodically for any changes. Your continued use of the website after the changes indicate your acceptance of the updated Privacy Policy.</p>

<h2>Contact Us</h2>
<p>If you have any questions or concerns regarding our Privacy Policy, please contact us.</p>